<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
      <a class="navbar-brand heading1" href="/shop"> WELCOME   TO   NEO CART  </a>
      
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <li class="com"><IMG class="logo"  SRC="/mac/mac/templates/image/logo1.png"   width="150px" height="150px"alt=""></li>
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <li class="nav-item">
          <a href="/shop" class="btn btn-primary stretched-link">GO TO MY SHOP</a> 
      </li>
  
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    
      
</head>

<body>
    
    <div class="heading1">
        <h3>New Smartphone on Neo</h3>
        <li class="com"><img class="logo" src="/mac/mac/templates/image/offer1.jpg" width="1450px" height="350px alt=""></li>
    </div>
    <div class="card">
    </div>
    <hr>
    <div class="heading1">
        <h3>New Headphones on Neo</h3>
        <li class="com"><img class="logo" src="/mac/mac/templates/image/offer3.jpg "width="1450px" height="350px alt=""></li>
    </div>
    <div class="card1">
    </div>

    <hr>
    <div class="heading1">
        <h3>Summer Sale on Neo</h3>
        <li class="com"><img class="logo" src="/mac/mac/templates/image/offer4.jpg.png" width="1455px" height="300px alt=""></li>
    </div>
    <div class="card2">

    </div>


    <div class="footer">
        <p>Copyright @ 2023</p>
    </div>
</body>

</html>